<div class="container">
  <div class="content">
    <h4 style="color: black">Update Due Dates</h4>
    <div class="container">
      <select class="dropdown">
        <option value="nct">NCT</option>
        <option value="road-tax">Road Tax</option>
        <option value="car-service">Car Service</option>
      </select>
    
      <select class="dropdown">
        <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
      </select>
    </div>
    <div class="button-space"></div>
    <div class="button-container">
      <button class="btn btn-primary">Update</button>
    </div>
  </div>
</div>

  <body class="background-image">
  <!-- Your page content here -->
  </body>  
