<div class="card">    
    <h4 class="card-header" style="color: black;">Login</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">    
                <input type="text" placeholder="User Name" formControlName="userName" class="form-control" />
                <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                    <div *ngIf="f['userName'].errors['required']">Username is required</div>
                </div>
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" formControlName="passWord" class="form-control" />
                <div *ngIf="submitted && f['passWord'].errors" class="invalid-feedback">
                    <div *ngIf="f['passWord'].errors['required']">Password is required</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button> 
                <div class="button-space"></div> <!-- Space for additional buttons -->
                <label class="form-label" style="color:aliceblue; font-style: italic; font-size: small;">Don't have an account? Click here to get one  </label>
                <button (click)="navigateToRegistion()" style="display: contents; color:cornsilk;">Create an Account</button> 
            </div>


            <div class="error-message" [hidden]="errorHidden">
                    Wrong password or username!
                </div>
        </form>
    </div>
</div>
<body class="background-image">
    <!-- Your page content here -->
</body>  