<div class="container hamburger-container">
<div class="container">
  <header class="right_hand_sidebar">
    <button
      class="hamburger hamburger--spin"
      [ngClass]="{ 'is-active': hamburger_toggled }"
      type="button"
      appHamburgerToggle
      (click)="toggleCollapse()"
      *ngIf="hamburgerVisible$ | async"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </header>
  <header>
    <h1>Living Assistant</h1>
  </header>
  <header></header>
  <nav class="right_hand_sidebar">
    <div
      class="navigation-menu"
      [ngClass]="{ 'show-navigation': hamburger_toggled }"
      [hidden]="!(hamburger_toggled$ | async)"
    >
      <ul>
        <li>
          <a
            id="hamburger-logout"
            button (click)="logout()"
            >Logout</a
          >
        </li>
        <!--<li><a class="button" routerLink="/create-recommendation" routerLinkActive="activebutton"
                  ariaCurrentWhenActive="page">Create Recommendation</a></li>-->
      </ul>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <aside></aside>
  <footer class="right_hand_sidebar">
    <!-- Footer -->
  </footer>
  <footer>
    <!-- Footer -->
  </footer>
  <footer>
    <!-- Footer -->
  </footer>
</div>
</div>